body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Inconsolata', monospace; }

.CLFullPage {
  height: 100vh;
  background: no-repeat center center; }

.CLHidden {
  display: none; }

.CLCircular-Square {
  border-radius: 50%; }

#CLNavBar {
  margin: 0;
  border-radius: 0; }

#CLHome .CLFullPage {
  position: relative;
  color: white; }
  #CLHome .CLFullPage p {
    font-size: 3.5vmin; }
  #CLHome .CLFullPage .CLCenteredDiv {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 80%; }
  #CLHome .CLFullPage .CLPageContent {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 12px; }

#CLPortfolio {
  padding: 60px 0 20px 0;
  min-height: 100vh;
  color: white;
  background-color: #a8d4d1; }
  #CLPortfolio .col-md-12 {
    padding: 0; }
  #CLPortfolio .CLPortfolio-Cell {
    height: 200px;
    padding: 0;
    background: #00a98b no-repeat center center;
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45);
    border-radius: 5px; }
    #CLPortfolio .CLPortfolio-Cell .CLOverlay {
      background: rgba(0, 0, 0, 0.75);
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: opacity .25s ease;
      -moz-transition: opacity .25s ease; }
  #CLPortfolio .CLPortfolio-Cell:hover .CLOverlay {
    opacity: 1; }

#CLFooter {
  height: 142px;
  background-color: #29333d;
  color: white; }
  #CLFooter h3 {
    margin-top: 0;
    padding-top: 15px; }
  #CLFooter .CLFooterIcon i {
    cursor: pointer; }
  #CLFooter .CLFooterIcon i:hover {
    color: #aeafae; }

@media all and (max-width: 770px) {
  .CLFullPage {
    height: 200vh; } }

@media all and (max-width: 500px) {
  .CLFullPage {
    height: 140vh; }
    .CLFullPage p {
      font-size: 7.5vmin; } }
